body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
section{
    flex-grow: 1;   
}

h2 {
    color: #0069d9;
}

footer {
    background-color: #0069d9;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
